.navbar {
    display: flex;
    flex-direction: row;
  }
  
  .navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
  }

  .navbar-social-item {
    /* display:flex; */
    align-items:flex-start;
    text-align: end;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
  }