.ApplicationContainer{
  width: 100%;
  height: 10%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  zoom: 75%;
}

body {
  margin: 0;
  background-image: url(../public/images/SquareGrid.png);
}